@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 250 250;
    --foreground: 17 24 39;
  }

  .dark {
    --background: 10 14 23;
    --foreground: 249 250 251;
  }

  * {
    @apply border-gray-200 dark:border-gray-700;
  }

  body {
    @apply bg-light-bg text-gray-900 dark:bg-dark-bg dark:text-gray-100;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}
